<div class="content container-fluid bootstrap snippets">
  <div class="row row-broken">
    <div class="col-sm-3 col-xs-3">
      <div class="col-inside-lg decor-default chat" tabindex="5000">
        <h4>Postings</h4>
        <div class="chat-users">
          <div class="user">
            <div class="avatar">
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                alt="User name">
              <div class="status off"></div>
            </div>
            <div class="name">User name</div>
            <div class="mood">User mood</div>
          </div>
          <div class="user">
            <div class="avatar">
              <img src="https://bootdey.com/img/Content/avatar/avatar2.png"
                alt="User name">
              <div class="status online"></div>
            </div>
            <div class="name">User name</div>
            <div class="mood">User mood</div>
          </div>
          <div class="user">
            <div class="avatar">
              <img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                alt="User name">
              <div class="status off"></div>
            </div>
            <div class="name">User name</div>
            <div class="mood">User mood</div>
          </div>
          <div class="user">
            <div class="avatar">
              <img src="https://bootdey.com/img/Content/avatar/avatar4.png"
                alt="User name">
              <div class="status"></div>
            </div>
            <div class="name">User name</div>
            <div class="mood">User mood</div>
          </div>
          <div class="user">
            <div class="avatar">
              <img src="https://bootdey.com/img/Content/avatar/avatar5.png"
                alt="User name">
              <div class="status off"></div>
            </div>
            <div class="name">User name</div>
            <div class="mood">User mood</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-xs-9 chat" tabindex="5001">
      <div class="col-inside-lg decor-default">
        <div class="chat-body">
          <h6>Mini Chat</h6>
          <div class="chat-content">
            <div class="answer left">
              <div class="avatar">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                  alt="User name">
                <div class="status"></div>
              </div>
              <div class="name">Alexander Herthic</div>
              <div class="text">
                Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
              </div>
              <div class="time">5 min ago</div>
            </div>
            <div class="answer right">
              <div class="avatar">
                <img src="https://bootdey.com/img/Content/avatar/avatar2.png"
                  alt="User name">
                <div class="status"></div>
              </div>
              <div class="name">Alexander Herthic</div>
              <div class="text">
                Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
              </div>
              <div class="time">5 min ago</div>
            </div>
          </div>
          <div class="answer-add">
            <textarea placeholder="Write a message"></textarea>
            <span class="answer-btn answer-btn-1"></span>
            <span class="answer-btn answer-btn-2"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "messages" %>
