@import 'variables/color';

.form_introduction:hover {
  background: $cararra-color;
  border-color: $slate-gray-color;
  border-radius: 5px;
  border-style: solid;
  border-width: 1.25px;

  .form-control {
    margin: 0 auto;
    width: 99%;
  }
}
