@import "variables/color";

.col-occupation {
  width: 20%;
}

.col-traineename {
  width: 35%;
}

.col-phone {
  width: 15%;
}

.col-birthday {
  width: 15%;
}

.trainee-avatar {
  width: 45px;
}

#heading-index-trainees {
  background-color: $pickle-blueewood;
  color: $white;
}
