<div class="left-navigation-col">
  <a href="#row1" class="nav-btn" data-row-id="row1">
    <h4><%= t ".synchronize" %></h4>
  </a>
  <a href="#row2" class="nav-btn" data-row-id="row2">
    <h4><%= t ".basic_information" %></h4>
  </a>
  <a href="#row3" class="nav-btn" data-row-id="row3">
    <h4><%= t ".detail_information" %></h4>
  </a>
</div>
