<li>
  <div class="user-share">
    <div class="avatar-share"><%= load_user_avatar limit_user %></div>
    <span class="name-share"><%= link_to limit_user.name, user_path(limit_user) %></span>
  </div>
<li>
