<li class="col-md-6">
  <div class="user-share-profile">
    <div class="avatar-share"><%= load_user_avatar user_following %></div>
    <span class="name-share"><%= link_to user_following.name, user_path(user_following) %></span>
  </div>
<li>
