<div class="user-language-modal"></div>
<div class="user-work-modal"></div>
<div class="user-project-modal"></div>
<div class="portfolio-modal"></div>
<div class="portfolio-modal-image"></div>
<div class="award-modal"></div>
<div class="render-form-user-link-modal"></div>
<div class="form-user-certificate-modal"></div>
<div class="render-form-user-education-modal"></div>
<div class="render-form-user-skill-modal"></div>
<%= javascript_include_tag "users" %>
