<li class="col-md-6">
  <div class="user-share-profile">
    <div class="avatar-share"><%= load_user_avatar user_share %></div>
    <span class="name-share"><%= link_to user_share.name, user_path(user_share) %></span>
  </div>
<li>
