<% if user.is_user? current_user %>
  <div id="job-show-wrapper">
    <div id="job-show-body">
      <div class="row two-column">
        <aside class="col-md-12 column-main">
          <div class="column-main-inner">
            <% if user_object.user_jobs_any? %>
              <%= render "users/job_accordance", job_page: :suggest_jobs_page,
                jobs: user_object.user_jobs %>
            <% end %>
          </div>
        </aside>
        <aside class="col-md-0 column-side">
        </aside>
      </div>
    </div>
  </div>
<% end %>
