<div class="content-setting">
  <div class="container">
    <%= render "shared/avatar_cover_image", user: current_user %>
    <div class="col-md-8">
      <%= render "personal_information" %>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
