<div class="button-group-edit pull-right">
  <button type="reset" class="btn btn-sm btn-default cancel-edit">
    <%= t ".cancel" %>
  </button>
  <button type="submit" class="btn btn-sm btn-primary submit-edit submit-edit-ajax">
    <%= t ".submit" %>
  </button>
</div>
