$alto: #d4d4d4;
$article-title: #34ca78;
$background-filter: #6e6c6c;
$background-media: #5cb85c;
$base-tone: #e45924;
$bg-facebook: #3b5998;
$bg-focus-message: #efedeb;
$bg-footer-copy: #222;
$bg-google: #c32f10;
$bg-job: #f4f4f4;
$bg-new-message: #f3b27a;
$bg-omb: #cdcdcd;
$bg-post-thumb: rgba(0, 0, 0, .5);
$bg-textarea-color: #ebebeb;
$bg-tooltiptext: #331a0d;
$bg-twitter: #00aced;
$black-05opacity: rgba(0, 0, 0, .05);
$black-1opacity: rgba(0, 0, 0, .1);
$black-20opacity: rgba(0, 0, 0, .2);
$black-30opacity: rgba(0, 0, 0, .3);
$black-55opacity: rgba(0, 0, 0, .55);
$black-60opacity: rgba(0, 0, 0, .6);
$black-6opacity: rgba(0, 0, 0, .6);
$black-background: rgba(0, 0, 0, .15);
$black-light: #444;
$black-white-84p: #d5d5d5;
$black: #000;
$black: #000;
$blue-light: #a5cef5;
$blue-link-hover: #337ab7;
$blue48: #576f9e;
$blue56: #6697b9;
$blue: #08c;
$bluish: #4c7aaf;
$border-color-label: #bbb;
$border-fix: #bdaaaa;
$border-job: #5aa1f0;
$border-navbar-default: #e5e5e5;
$border-shadow-left: rgba(0, 0, 0, .1);
$box-shadow-1: rgba(0, 0, 0, .16);
$box-shadow-2: rgba(0, 0, 0, .23);
$box-shadow-bookmark: #afafaf;
$btn-a: #1de3ea;
$btn-blog: #37d980;
$btn-f: #d75134;
$btn-j: #1dea6f;
$btn-p: #71eaae;
$btn-w: #ead21d;
$cararra-color: #e5e5e0;
$check-friend-request: #26cb90;
$checked: #2bbcde;
$color-a-navbar-nav: #f08a37;
$color-checked: #f0ad4e;
$color-footer-copy: #e2e2e2;
$color-media-meta: #999;
$color-media-span-title: #d9534f;
$color-post-thumb-6: rgba(102, 175, 233, .6);
$color-post-thumb-75: rgba(0, 0, 0, .075);
$color-status-online: #4caf50;
$color-widget-a: #323232;
$curious_blue: #2494be;
$dark-blue: #515875;
$dark-gray: #333;
$dove_gray: #666;
$fa-footer-copy: #ff6c6c;
$fiord: #3c586a;
$flamingo: #ec583a;
$gray-80: #ccc;
$gray-9: #9da0a4;
$gray-aaa: #aaa;
$gray-black: #555;
$gray-blue: #dbe3e8;
$gray-boder: #c5bebe;
$gray-border: #ebedef;
$gray-compa: #6a6e71;
$gray-dark: #777777;
$gray-ddd: #ddd;
$gray-ece: #ecebe9;
$gray-label: #45494b;
$gray-white: #f0f0f0;
$gray97: #f7f7f7;
$gray: #777;
$gray: rgba(0, 0, 0, .15);
$green: #04B404;
$hover-job: #d5d6da;
$light-green: #2ecc71;
$light-red: #e74c3c;
$light-sea-green: #1abc9c;
$light-teal: #b2dfdb;
$lighter-gray-40: #676767;
$lighter-gray-44: #717171;
$lighter-gray-85: #d8d8d8;
$lighter: rgba(0, 0, 0, .55);
$link_water: #d9edf7;
$mako: #434a54;
$mine_shaft: #2b2525;
$mint_tulip: #bce8f1;
$nepal: #90acc7;
$orange: #e67e22;
$pacific-blue: #00a4bb;
$persimmon: #fb6e52;
$pickle-blueewood: #2a3f54;
$pickled-bluewood: #25394c;
$picton_blue: #21B8E6;
$quartz: #d6d6d7;
$red44-reject-friend: #f44336;
$red: #f00;
$remove-friend-request: #d23623;
$scooter: #3bafda;
$seashell: #f1f0f0;
$selected-job: #b9bbb9;
$silver: #c8c8c8;
$slate-gray-color: #789;
$sliver: #cccccc;
$snow: #fafafa;
$tundora: #4d4d4d;
$weight-blue: #1e8bc3;
$white-93opacity: rgba(255, 255, 255, .93);
$white-eee: #eee;
$white-gray-table: #e3e3e3;
$white-gray: #f5f5f5;
$white: #fff;
$zest: #e67e22;
$teal: #008080;
