@import 'variables/color';

.list-users {
  height: 370px;
  overflow-y: auto;

  li {
    border: 1px ridge;
    height: 40px;
    padding-top: 10px;

    &:hover {
      background: $gray;
    };
  }
}

.panel-info {
  border-color: $mint_tulip;
}

.custom-label {
  font-family: roboto;
  font-weight: normal;
  height: 40px;
  line-height: 26px;
  text-transform: none;
  width: 853px;

  .select-bold {
    font-weight: bold !important;
  }
}

.title-modal {
  background-color: $teal;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: $white;
  padding: 10px 15px;
  width: 100%;
}

.modal-dialog {
  overflow-y: initial
}

.custom-body {
  height: 450px;
}

.footer-edit {
  border: none;
  margin-top: 30px;
}

.user-share {
  display: inline-flex;
  padding-top: 10px;

  .avatar-share {
    width: 30px;
  }

  .name-share {
    margin-left: 15px;
  }
}

.user-share-profile {
  display: inline-flex;
  padding-top: 5px;

  .avatar-share {
    width: 30px;
  }

  .name-share {
    margin-left: 15px;
  }
}

.title-share {
  margin-bottom: 10px;
  position: relative;
  top: 8px;

  .edit {
    float: right;
  }
}
