@import 'variables/color';

.box-information {
  padding: 5px 10px 5px 10px;

  li {
    list-style-type: square;
  }

  hr {
    border-width: 2px;
    border-color: $sliver;
  }

  .profile-title {
    color: $orange;
  }

  .self_introduction {
    margin-left: 15px;
  }

  .pull-right {
    color: $gray-dark;
    font-style: italic;
  }

  .section-padding {
    padding: 0px;
  }

  .list-group-item {
    border-radius: 0;
    padding: 5px 15px;
  }
}

.show-course {
  box-shadow: 1px 2px 2px 1px $sliver;
  height: 370px;
  margin-left: 15px;
  padding: 10px;
  width: 250px;

  .course-description {
    color: $gray-dark;
    font-style: italic;
  }

  .course-name {
    font: bold 17px Courier;
  }
}

.list-group {
  margin-bottom: 0px;
  cursor: pointer;
}

.occupation {
  bottom: 30px;
  color: $tundora;
  left: 204px;
  position: absolute;

  .fa {
    margin-right:10px;
  }
}

.edit-toggle {
  cursor: pointer;
}

.short-form {
  width: 60%;
}

.edit-form {
  background-color: $gray-ece;
  box-shadow: 1px 2px 2px 1px $sliver;
  display: none;
  padding: 10px;
}

.form-edit-profile {
  background-color: $gray-ece;
  box-shadow: 1px 2px 2px 1px $sliver;
  display: none;
  height: 100%;
  margin-top: 20px;
  padding: 10px;
}

.create-form {
  display: none;
  margin-top: 10px;
}

.show-form {
  .button-edit {
    color: blue;
    display: none;
    margin-left: 10px;
  }
}

.row-margin-top {
  margin-top: 10px;
}

.btn-tms-sync {
  margin-top: -14px;
}

.nav-tabs-profile-user {
  bottom: 20px;
  font-weight: bold;
  left: 290px;
  position: absolute;
}

.style-italic {
  font-style: italic;
}

.weight-bold {
  font-weight: bold;
}

.white-color {
  color: white;
}

.col-md-5-custom {
  width: 30%;
  float: left;
}

.col-md-7-custom {
  float: left;
  padding: 5px 5px 0 10px;
  width: 70%;
}

.li-trainee {
  box-shadow: 1px 2px 2px 1px $sliver;
  height: 120px;
}

.show-trainee {
  padding: 15px;
  .message-button {
    bottom: 16px;
    margin-right: 0;
    position: relative;
  }
}

.current-skills .list-group-item {
  border-radius: 0;
  padding: 5px 15px;
}

.btn {
  border-radius: 0;
}
