@import 'variables/color';

.image-welcome {
  width: 100%;
}

.logo-header {
  margin: 5px 0 0 10px;
}

.sign-in {
  margin-top: 6px;
}

nav.navbar.main-menu.navbar-default {
  height: 40px;
}

.navbar-default .navbar-brand {
  margin: 0;
}

.field-compulsory::after {
  color: $red;
  content: ' *';
  font-weight: bold;
}

.field-compulsory-before::before {
  color: $red;
  content: '* ';
  font-weight: bold;
}

hr.hr-edit-user {
  border-width: medium;
  width: 95%;
}

.top-right-edit {
  position: absolute;
  right: 0;
  top: 10px;
}

.button-group-edit {
  margin-bottom: 50px;
  margin-top: 8px;
}

.submit-edit {
  position: absolute;
  right: 0;
}

.cancel-edit {
  position: absolute;
  right: 80px;
}

.setting-header {
  background: white;
  height: 70px;
  opacity: 0.8;
  position: sticky;
  top: 100px;
  z-index: 100;
}

.setting-header-text {
  margin: 5px 0 0 70px;
}

.content-setting {
  background: white;
  min-height: 1100px;
}

.left-navigation-col {
  margin-top: 30px;
}

.left-col-9-edit {
  float: left;
  max-width: 20%;
  position: sticky;
  top: 100px;
}

.right-col-9-edit {
  float: right;
  position: relative;
  width: 75%;
}

.orange-text {
  color: $orange;
  font-size: 1.5em;
  font-weight: bold;
}

.black-text {
  color: black;
  overflow-wrap: break-word;
  padding-top: 10px;
}

textarea.text-area-edit {
  resize: none;
}

.col-md-9-edit-synchronize {
  float: left;
  width: 80%;
}

.col-md-3-edit-synchronize {
  float: right;
  width: 20%;
}

.synchronize-button {
  float: right;
}

.div-synchronize-setting {
  display: inline-block;
  margin: 10px 0 10px;
  width: 100%;
}

#auto_sync {
  float: right;
  top: 0;
}

footer {
  bottom: 0;
  position: relative;
  width: 100%;
}
