.image-welcome {
  width: 100%;
}

.logo-header {
  margin: 5px 0 0 10px;
}

.sign-in {
  margin-top: 6px;
}

nav.navbar.main-menu.navbar-default {
  height: 40px;
}

.navbar-default .navbar-brand {
  margin: 0;
}
