@import 'variables/color';

.col-inside-lg {
  padding: 20px;
}

.decor-default {
  background-color: $white;
}

.chat-users {
  height: 500px;
  overflow-y: hidden;

  &:hover {
    overflow-y: scroll;
  }

  h6 {
    font-size: 20px;
    margin: 0 0 20px;
  }

  .user {
    cursor: pointer;
    display: block;
    height: 64px;
    padding: 10px 0 0 64px;
    position: relative;

    .avatar {
      left: 6px;
      top: 7px;
    }

    .status {
      bottom: 0;
      left: 28px;
    }

    .name {
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .mood {
      font: 200 14px/20px "Raleway", sans-serif;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.chat-content {
  height: 398px;
  overflow: hidden;

  &:hover {
    overflow: auto;
  }
}

.new-message {
  background: $bg-new-message;
}

.focus-message {
  background: $bg-focus-message;
}

.chat {
  outline: none;
  overflow: hidden;

  .avatar {
    height: 50px;
    position: absolute;
    width: 50px;

    img {
      border-radius: 50%;
      display: block;
      height: 100%;
    }

    .status.off {
      background: $white;
      border: 1px solid $dark-gray;
    }

    .status.online {
      background: $color-status-online;
    }

    .status {
      border-radius: 5px;
      height: 10px;
      position: absolute;
      width: 10px;
    }
  }
}

//*****************CHAT BODY *******************
.chat-body {
  h6 {
    font-size: 20px;
    margin: 0 0 20px;
  }

  .answer.left {
    float: left;
    padding: 0 0 0 58px;
    text-align: left;
  }

  .answer {
    clear: both;
    max-width: 600px;
    overflow: hidden;
    position: relative;

    .avatar {
      bottom: 36px;
    }
  }

  .answer.left .avatar {
    left: 0;
  }
}

.chat {
  .avatar {
    position: absolute;

    img {
      border-radius: 50%;
      display: block;
      height: 100%;
    }
  }
}

.chat-body {
  .answer {
    .name {
      font-size: 14px;
      line-height: 36px;
    }

    .status {
      bottom: 0;
    }

    .text {
      font-size: 16px;
      line-height: 26px;
      padding: 12px;
      position: relative;
    }

    .text::before {
      border: 18px solid transparent;
      border-bottom-width: 0;
      bottom: 0;
      content: '';
      display: block;
      position: absolute;
    }

    .time {
      font-size: 16px;
      line-height: 36px;
      padding-bottom: 1px;
      position: relative;
    }
  }

  .answer.left {
    .status {
      right: 4px;
    }

    .text {
      background: $bg-textarea-color;
      border-radius: 8px 8px 8px 0;
      color: $dark-gray;
    }

    .text::before {
      border-right-color: $bg-textarea-color;
      border-right-width: 12px;
      left: -30px;
    }

    .time {
      color: $dark-gray;
      padding-left: 12px;
    }
  }

  .answer.right {
    float: right;
    padding: 0 58px 0 0;
    text-align: right;

    .avatar {
      right: 0;
    }

    .status {
      left: 4px;
    }

    .text {
      background: $base-tone;
      border-radius: 8px 8px 0;
      color: $white;
    }

    .text::before {
      border-left-color: $base-tone;
      border-left-width: 12px;
      right: -30px;
    }

    .time {
      color: $dark-gray;
      padding-right: 12px;
    }
  }
}

// **************ADD FORM ***************
.chat-body .answer-add {
  background: $base-tone;
  clear: both;
  margin: 20px -20px -20px;
  padding: 10px;
  position: relative;

  textarea {
    background: none;
    border: 0;
    color: $white;
    display: block;
    font-size: 16px;
    line-height: 20px;
    min-height: 80px;
    padding: 0;
    width: 93%;
  }
}

.chat textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

.chat-body .answer-add {
  .answer-btn-1 {
    background: image-url('icon-attach-file.png') 50% 50% no-repeat;
    right: 56px;
  }

  .answer-btn-2 {
    background: image-url('icon-send-message.png') 50% 50% no-repeat;
    right: 20px;
  }

  .answer-btn {
    cursor: pointer;
    display: block;
    height: 36px;
    margin-top: -18px;
    position: absolute;
    top: 50%;
    width: 36px;
  }
}

.chat textarea::-webkit-input-placeholder {
  color: $white;
}

.chat textarea:-ms-textarea-placeholder {
  color: $white;
}

.chat textarea {
  -webkit-appearance: none;
  border-radius: 0;
}
