<div class="setting-header col-md-12">
  <div class="col-md-4">
    <%= link_to setting_root_path, class: "setting-header-text orange-text" do %>
      <h3><%= t ".edit_profile" %></h3>
    <% end %>
  </div>
  <hr class="hr-edit-user">
</div>
